/Airplane.class
/Airport.class
/Cache.class
/Flight.class
/ModelComparator.class
/Trip.class
/TripArrTimeComparator.class
/TripDepTimeComparator.class
/TripFlightTimeComparator.class
/TripPriceComparator.class
